	  <footer class="page-footer  light-blue darken-1">
        <div class="footer-copyright">
          <div class="container center-align"> Give us Feedback..  <a href="/feedback" style="color: white">Click here !</a></div>
        </div>
 	  </footer>
{% load staticfiles %}

       <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/js/materialize.min.js"></script>
	  <script> $(".button-collapse").sideNav();</script>
	  <script>$(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

  $(document).ready(function() {
    $('select').material_select();
  });

  </script>