<!--<a href="/singleurl">Single URL</a>
<a href="/keyword">Keyword Search</a>
<a href="/fileupload">File Upload</a>
-->

<div class="navbar-fixed">
 <nav>
    <div class="nav-wrapper  light-blue darken-1">
        {% load staticfiles %}

		<a href="/"><img src="/static/images/logo1.png" style="height: 100px; width: 100px; margin-top: -15px; margin-right: -30px" > </a>
		<!-- <a id="header" class="brand-logo hide-on-large">InstaSummary</a> -->
        <a id="header" class="brand-logo hide-on-large">InstaSummary</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

	  <ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:100px">
        <li><a href="/">Single URL</a></li>
        <li><a href="/keyword">Keyword Search</a></li>
        <li><a href="/fileupload">File Upload</a></li>
      </ul>


	   <ul class="side-nav" id="mobile-demo">

	   <li class="light-blue darken-1">Insta Summary</li>
		<li><a href="/">Single URL</a></li>
        <li><a href="/keyword">Keyword Search</a></li>
        <li><a href="/fileupload">File Upload</a></li>
	   </ul>


    </div>
  </nav>
</div>