{% extends "header.html" %}

{% block content %}
    {% include 'snippets/nav.html' %}

      	<main>
      	<br> <br>

      	 	<div class="container">
	    		<div class="row">
		    		<div class="col s12 m12 l6 offset-l3" id="card-panel">
			          <div class="card blue-grey lighten-5" style="margin-top: 70px;">
			            <div class="card-content black-text">
			            	<div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="input_text" type="text" data-length="10">
            <label for="input_text">Email ID</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea1">Feedback</label>
          </div>
        </div>

        <center><button class="btn waves-effect  light-blue darken-1" type="submit" name="action" style="margin-bottom: -15px; margin-top: -10px">Submit
							    <!-- <i class="material-icons right">send</i> -->
							</button></center>

      </form>
    </div>




			        </div>
			    </div>

	    		</div>
	      	</div>
	</div>	</main>




{% if url %}

            <center>
            <div style="width:50%; border: 1px solid black;">
	            {{ url }}
            </div>
            </center>


{% endif %}

	  {% include 'snippets/footer.html' %}
{% endblock content %}





